body{
    background-image: url('https://www.nike.com.br/images/meta/open-graph-main-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; /* garante que o fundo cubra toda a altura da tela */
    margin: 0; /* remove espaçamentos padrão do body */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Div onde os elementos irão se mover */
#MASTER {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    
    padding: 20px;
    width: 100%;
    overflow: hidden;
}

/* div que sera os produtos e ira se mover */
.box { 
    background-color: rgba(255, 255, 255, 12);
    color: black;
    padding: 15px;
    width: 200px;
    height: 30px;
    position: relative; top: 42%; /*Define a posição na parte de baixo */ 
    /* Começa mais abaixo e invisível */
    opacity: 0.02;
    transform: translateY(-1000%); /* Distancia que ele ira percorrer */
    transition: opacity 10s ease, transform 10s ease; /* Tempo que ele ira perder a opacidade e levar para subir */
}
/* Quando o mouse passa por cima ela volta a fica visivel */
.box:hover  {
    background-color: darkgray;
    opacity: 100;
    /*transform: translateY(-10px); /* Posição "pré-determinada" */
}
.produtos{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}
.divProduto{
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: white;
    width: 300px;
    height: 100px;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}