body{
    background-image: url('../imagens/Imageminicial.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; /* garante que o fundo cubra toda a altura da tela */
    margin: 0; /* remove espaçamentos padrão do body */
    display: flex;
    justify-content: center;
    align-items: center;
}

#cadastro_login {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.2); /* preto com 50% de transparência */
    /*background-color: rgba(255, 255, 255, 0.2); /* branco quase transparente */
    color: rgba(255, 255, 255, 0.5);
    width: 700px;
    height: 700px;
    overflow: hidden;
    
    
}
/*ANIMAÇÕES*/
#TESTE{
    display: flex;
    align-items: center;
    flex-direction: column;
    /*background-color: rgba(255, 255, 255, 0.2); /* branco quase transparente */
    
    position: relative; top: 90%;
    opacity: 0.7;
    transform: translateY(-110%); /* Distancia que ele ira percorrer */
    transition: transform 2s ease; /* Tempo que ele ira levar para subir */
}


#formCad{
    gap: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#cadastro_login:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
#cadastro_login:hover input {
    background-color: white;
}
#cadastro_login:hover label, p {
    color: white;
}
img{
    width: auto;
    border-radius: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80px; 
    margin: 40px; /* remove espaçamentos padrão do body */
}
img:hover{
    height: 12vh; 
    cursor: pointer;
}

input{
    display: flex;
    flex-direction:  inherit;
    background-color: rgba(255, 255, 255, 0.05);
    font-size: 15px;
    border-radius: 6px;
    width: 350px;
    height: 25px;
}

#btnMostrar{
    position: relative;
    top: -45px; left: 162px;
    cursor: pointer;
    width: 14px;
}
#btnMostrartxt{
    position: relative;
    font-size: 14px;
    top: 22px; left: 162px;
    margin-top: -85px;
}
#Flogin, #Fcadastro{
    color: black;
    font-weight: bold
}
#Flogin:hover, #Fcadastro:hover{
    color: salmon;
    cursor: pointer;
}
#Fcadastro{
    display: none;
}

#enviar{
    width: 100px;
    cursor: pointer;
    
}


#emailLogin, #senhaLogin, #enviarLogin, .labelLog{
    display: none;
    margin-top: 7px;
}